.DS_Store
.npmrc

__pycache__

# pelican related
lib
output
output/*
bin
.bin
build
plugins

.sass-cache
.webassets-cache
node_modules

# python
venv
.venv
seo_report.html
.vscode
.venv/pyvenv.cfg
docs/*
docs
themes/shovels/static/css/output.css
