@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "marble";
  src: url("theme/webfonts/MarbleCrimsonRegular.woff") format('woff');
}

/* TODO: add various weights */
@font-face {
  font-family: "Scandia";
  src: url("theme/webfonts/Scandia-Regular.woff") format('woff');
}

h1, h2, h3, h4, h5, h6 {
  @apply text-emerald-800;
}

/* start of Tailwind utility classes */
.hero_container {
  @apply mx-auto max-w-7xl px-6 lg:flex lg:items-start lg:gap-x-10 lg:px-0 pt-10 lg:pt-24
}
.hero_text-container {
  @apply mx-auto max-w-xl lg:mx-0 lg:flex-auto
}
.hero_title {
  @apply max-w-lg text-4xl font-semibold
}
.hero_description {
  @apply mt-6 text-lg leading-8 text-gray-600
}
.hero_image-container {
  @apply mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow
}
.hero_image-container  > img {
  @apply mx-auto
}
.elaboration-title {
  @apply text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl
}
.elaboration_container {
  @apply mx-auto mt-16 grid md:grid-cols-2 lg:grid-cols-3 gap-4
}
.elaboration-card {
  @apply border-2 border-gray-900 my-2 md:mr-3 p-10
}
.elaboration-card_title {
  @apply uppercase text-emerald-800
}
.elaboration-card_text-container {
  @apply mt-2 text-base leading-7 text-gray-900
}
/* end of Tailwind utility classes */

.nav-logo {
  margin-top: 33px;
}

.bg-tools {
  background-image: url("theme/images/tools2.svg");
  opacity: 0.5;
}

.slide-description {
  line-height: 3.5rem !important;
}

.gradient {
  background: linear-gradient(120deg, #77daeb 0%,#ffd3b3 100%);
}

.article {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.article li {
  list-style-type: disc;
  list-style-position: inside;
}

.article ul {
  margin-bottom: 15px;
  margin-top: 15px;
}

.article p {
  margin-bottom: 15px;
}

.article a {
  font-weight: bold;
  color: darkblue;
}

.article h1 {
  font-size: 2em;
  margin-bottom: 15px;
}

.article h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.article h3 {
  font-size: 1.25em;
  margin-bottom: 15px;
}

div.article img {
  width: 100%;
}

.article ul > li {
  margin-left: 20px !important;
}

/* for the Home page's example API responses */
.hljs {
  background: #181c24 !important; 
}
.hljs-attr {
  color: #e04c90 !important
}
.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion,
.hljs-punctuation {
  color: white !important;
}