@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "marble";
  src: url("theme/webfonts/MarbleCrimsonRegular.woff") format('woff');
}

.nav-logo {
  font-size: xx-large;
  margin-top: 25px;
}

.bg-tools {
  background-image: url("theme/images/tools2.svg");
  opacity: 0.5;
}

.slide-description {
  line-height: 3.5rem !important;
}

.gradient {
  background: linear-gradient(120deg, #77daeb 0%,#ffd3b3 100%);
}