{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.summary %}
    <meta name="description" content="{{ article.summary }}" />
  {% endif %}

  {% if article.image %}
    <meta property="og:image" content="{{ article.image }}" />
    <meta property="og:image:url" content="{{ article.image }}" />
    <meta property="og:image:alt" content="{{ article.tagline }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}

<div class="mx-auto max-w-[744px]">
  <!-- header -->
  <div class="my-16 px-6 lg:px-8">
    <div class="mx-auto text-base leading-5 text-gray-700">
      {% if article.category %}
      <div class="mb-10">
        <a href="/blog/?category={{article.category}}" class="relative z-10 rounded bg-[#E9E1CE] text-gray-900 hover:bg-stone-100 text-xs px-3 py-2">{{ article.category }}</a>
      </div>
      {% endif %}
      <div class="block">
        <!-- Image placeholder -->
        <img src="{% if article.image %}{{ article.image }}{% else %}/images/blog-card-default.png{% endif %}" class="w-96 object-cover rounded-md">
        <!-- Title and date container -->
        <div class="break-words">
          <h1 class="my-5 text-5xl">
            {{ article.title|striptags }}
          </h1>
          <p class="leading-normal text-normal mb-8">
            {{ article.locale_date }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="my-16 px-6 lg:px-8">
    <div class="mx-auto max-w-3xl leading-loose text-gray-700">
      <article class="w-full article">
        {{ article.content }}
      </article>
    </div>
  </div>
</div>

{% endblock %}