<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<footer class="bg-gray-900 text-lime-50" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl pb-8 pt-10 sm:pt-12 lg:pt-16 px-6 lg:px-8">
    <img class="mb-24" src="/theme/images/shovels-footer-logo.svg" alt="shovels logo">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm  leading-6 text-amber-300">Solutions</h3>
            <ul role="list" class="mt-6">
              <li>
                <a href="{{ SITEURL }}/go-to-market" class="text-sm leading-6 hover:text-amber-500">GTM</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/software" class="text-sm leading-6 hover:text-amber-500">Software</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/climate" class="text-sm leading-6 hover:text-amber-500">Climate</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/construction-finance" class="text-sm leading-6 hover:text-amber-500">Finance</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/builders" class="text-sm leading-6 hover:text-amber-500">Builders</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm  leading-6 text-amber-300">Products</h3>
            <ul role="list" class="mt-6">
              <li>
                <a href="{{ SITEURL }}/permit-database" class="text-sm leading-6 hover:text-amber-500">Permit Database</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/contractor-directory" class="text-sm leading-6 hover:text-amber-500">Contractor Directory</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/api" class="text-sm leading-6 hover:text-amber-500">API</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/data-feed" class="text-sm leading-6 hover:text-amber-500">Data Feed</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm  leading-6 text-amber-300">About</h3>
            <ul role="list" class="mt-6">
              <li>
                <a href="{{ SITEURL }}/team" class="text-sm leading-6 hover:text-amber-500">Team</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/about" class="text-sm leading-6 hover:text-amber-500">Company</a>
              </li>
              <li>
                <a href="{{ SITEURL }}/blog" class="text-sm leading-6 hover:text-amber-500">Blog</a>
              </li>
              <li>
                <a href="https://api.shovels.ai/redoc" class="text-sm leading-6 hover:text-amber-500" target="_blank">API Documentation</a>
              </li>
              <li>
                <a href="https://docs.google.com/spreadsheets/d/1qiIxx37_-6vGfGp2i5pXv4w2FdsLsShjCqSVO5v6OMQ/edit#gid=1818227349" class="text-sm leading-6 hover:text-amber-500" target="_blank">Data Dictionary</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm  leading-6 text-amber-300">Legal</h3>
            <ul role="list" class="mt-6">
              <li>
                <a href="{{ SITEURL }}/privacy" class="text-sm leading-6 hover:text-amber-500">Privacy</a>
              </li>

              <li>
                <a href="{{ SITEURL }}/terms" class="text-sm leading-6 hover:text-amber-500">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-10 xl:mt-0">
        <h3 class="text-[32px] font-medium text-lime-50 leading-none">Subscribe to our newsletter</h3>
        <p class="my-4 leading-6 text-base">We'll share feature releases, data updates, and new products.</p>
        <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/6q80uiUjl4stEHkrpLlujFCPa3wm1PsdFdBqqLaawXUqyv0lWEAsEgEdScUD7oK3ej"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
      </div>
    </div>
    <div class="mt-16 border-t border-stone-200/10 pt-8 sm:mt-20 md:flex md:items-center md:justify-between lg:mt-24">
      <div class="flex space-x-6 md:order-2">
        <a href="https://play.google.com/store/apps/details?id=com.shovels.shovels1" class="text-gray-400 hover:text-gray-500" target="_blank">
          <span class="sr-only">Android</span>
          <svg fill="currentColor" class="h-6 w-6" viewBox="0 0 553.048 553.048" aria-hidden="true">
            <g>
              <g>
                <path d="M76.774,179.141c-9.529,0-17.614,3.323-24.26,9.969c-6.646,6.646-9.97,14.621-9.97,23.929v142.914
                  c0,9.541,3.323,17.619,9.97,24.266c6.646,6.646,14.731,9.97,24.26,9.97c9.522,0,17.558-3.323,24.101-9.97
                  c6.53-6.646,9.804-14.725,9.804-24.266V213.039c0-9.309-3.323-17.283-9.97-23.929C94.062,182.464,86.082,179.141,76.774,179.141z"
                  />
                <path d="M351.972,50.847L375.57,7.315c1.549-2.882,0.998-5.092-1.658-6.646c-2.883-1.34-5.098-0.661-6.646,1.989l-23.928,43.88
                  c-21.055-9.309-43.324-13.972-66.807-13.972c-23.488,0-45.759,4.664-66.806,13.972l-23.929-43.88
                  c-1.555-2.65-3.77-3.323-6.646-1.989c-2.662,1.561-3.213,3.764-1.658,6.646l23.599,43.532
                  c-23.929,12.203-42.987,29.198-57.167,51.022c-14.18,21.836-21.273,45.698-21.273,71.628h307.426
                  c0-25.924-7.094-49.787-21.273-71.628C394.623,80.045,375.675,63.05,351.972,50.847z M215.539,114.165
                  c-2.552,2.558-5.6,3.831-9.143,3.831c-3.55,0-6.536-1.273-8.972-3.831c-2.436-2.546-3.654-5.582-3.654-9.137
                  c0-3.543,1.218-6.585,3.654-9.137c2.436-2.546,5.429-3.819,8.972-3.819s6.591,1.273,9.143,3.819
                  c2.546,2.558,3.825,5.594,3.825,9.137C219.357,108.577,218.079,111.619,215.539,114.165z M355.625,114.165
                  c-2.441,2.558-5.434,3.831-8.971,3.831c-3.551,0-6.598-1.273-9.145-3.831c-2.551-2.546-3.824-5.582-3.824-9.137
                  c0-3.543,1.273-6.585,3.824-9.137c2.547-2.546,5.594-3.819,9.145-3.819c3.543,0,6.529,1.273,8.971,3.819
                  c2.438,2.558,3.654,5.594,3.654,9.137C359.279,108.577,358.062,111.619,355.625,114.165z"/>
                <path d="M123.971,406.804c0,10.202,3.543,18.838,10.63,25.925c7.093,7.087,15.729,10.63,25.924,10.63h24.596l0.337,75.454
                  c0,9.528,3.323,17.619,9.969,24.266s14.627,9.97,23.929,9.97c9.523,0,17.613-3.323,24.26-9.97s9.97-14.737,9.97-24.266v-75.447
                  h45.864v75.447c0,9.528,3.322,17.619,9.969,24.266s14.73,9.97,24.26,9.97c9.523,0,17.613-3.323,24.26-9.97
                  s9.969-14.737,9.969-24.266v-75.447h24.928c9.969,0,18.494-3.544,25.594-10.631c7.086-7.087,10.631-15.723,10.631-25.924V185.45
                  H123.971V406.804z"/>
                <path d="M476.275,179.141c-9.309,0-17.283,3.274-23.93,9.804c-6.646,6.542-9.969,14.578-9.969,24.094v142.914
                  c0,9.541,3.322,17.619,9.969,24.266s14.627,9.97,23.93,9.97c9.523,0,17.613-3.323,24.26-9.97s9.969-14.725,9.969-24.266V213.039
                  c0-9.517-3.322-17.552-9.969-24.094C493.888,182.415,485.798,179.141,476.275,179.141z"/>
              </g>
            </g>
          </svg>
        </a>
        <a href="https://www.linkedin.com/company/shovels/" class="text-gray-400 hover:text-gray-500" target="_blank">
          <span class="sr-only">LinkedIn</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/>
          </svg>
        </a>
        <a href="https://github.com/shovelsai" class="text-gray-400 hover:text-gray-500" target="_blank">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      <p class="mt-8 text-xs leading-5 text-amber-300 md:order-1 md:mt-0">&copy; 2024 Shovels, Inc. All rights reserved. (800) 511-7457</p>
    </div>
  </div>
</footer>