<nav id="header" class="fixed w-full z-30 top-0 text-white">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4 flex items-center">
      <a class="toggleColour text-slate-700 no-underline hover:no-underline font-bold text-2xl lg:text-4xl font-marble nav-logo transform transition hover:scale-105 duration-300 ease-in-out" href="/">
        Shovels
      </a>
    </div>
    <div class="block lg:hidden pr-4">
      <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-slate-700 font-bold p-4 lg:p-0 z-20" id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block no-underline hover:text-gray-800
                    hover:text-underline py-2 px-4"
             href="/banks">For Banks</a>
        </li>
        <li class="mr-3">
          <a class="inline-block no-underline hover:text-gray-800
                    hover:text-underline py-2 px-4"
             href="/builders">For Builders</a>
        </li>
        <li class="mr-3">
          <a class="inline-block no-underline hover:text-gray-800
                    hover:text-underline py-2 px-4"
             href="/climate">For Climate</a>
        </li>
        <li class="mr-3">
          <a class="inline-block no-underline hover:text-gray-800
                    hover:text-underline py-2 px-4"
             href="/blog">Blog</a>
        </li>
        <li class="mr-3">
          <a class="inline-block no-underline hover:text-gray-800
                    hover:text-underline py-2 px-4"
             href="/about">About Us</a>
        </li>
        <li>
          <a
          id="navAction"
          class="inline-block mx-auto lg:mx-0 bg-white text-gray-800 font-bold lg:rounded-full lg:mt-0 py-2 lg:py-4 px-4 lg:px-8 shadow opacity-75 focus:outline-none lg:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          href="https://app.shovels.ai/register/"
        >
          Dashboard
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>