{% extends "base.html" %}

{% block content %}

  <div class="grid grid-cols-2 p-24">
    <div class="mx-24">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl leading-10">
        <span class="block text-amber-800">We use permit inspection data</span>
        <span class="block text-amber-600">to evaluate contractors</span>
      </h1>
    </div>
    <div class="mx-24">
      <p class="text-lg text-gray-500 sm:text-lg md:text-4xl leading-10">We harvest and analyze millions of permit and inspection records nationwide for builders and the banks who finance them</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-24">
    <div class="mx-24">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl leading-10">
        <span class="block text-amber-800">The contractor discovery and evaluation process</span>
        <span class="block text-amber-600">is still broken</span>
      </h1>
    </div>
    <div class="mx-24">
      <p class="text-lg text-gray-500 sm:text-lg md:text-4xl leading-10">That's why your neighbors have so many horror stories about construction jobs gone horribly wrong</p>
    </div>
  </div>
  

{% endblock content %}
