{% extends "base.html" %}

{% block background_pattern %}
<svg class="absolute inset-0 -z-10 size-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
  <defs>
    <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
      <path d="M100 200V.5M.5 .5H200" fill="none" />
    </pattern>
  </defs>
  <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
    <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
  </svg>
  <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
</svg>
{% endblock background_pattern %}

{% block content %}
<!-- Hero Section -->
<div class="relative isolate">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-20">
    <div class="mx-auto min-w-2xl lg:mx-0 lg:flex-auto">
      <div class="flex">
        <div class="relative flex items-center gap-x-4 rounded-full bg-white px-4 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          <span class="font-semibold text-shovels-primary">We’re hiring!</span>
          <span class="h-4 w-px bg-gray-900/10" aria-hidden="true"></span>
          <a href="{{ SITEURL }}/careers" class="flex items-center gap-x-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            See open positions
            <svg class="-mr-2 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
      <h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Find and sell to the right contractors</h1>
      <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Shovels helps you identify qualified contractors, understand their work history, and connect with decision makers. Access rich permit data to power your contractor sales and marketing.</p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="https://app.shovels.ai" class="rounded-md bg-shovels-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:shadow-shovels-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shovels-primary">Find contractors</a>
        <a href="{{ SITEURL }}/permit-database" class="text-sm/6 font-semibold text-gray-900">Find permits <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
    <div class="mt-16 hidden lg:block lg:mt-0 lg:shrink-0 lg:grow">
      <img src="theme/images/home/hero-home.svg" alt="Shovels building permit data" class="mx-auto w-[30rem] max-w-full drop-shadow-xl">
    </div>
  </div>
</div>
<div class="bg-white py-6 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-2 lg:grid-cols-5 gap-10 sm:gap-8 px-8 py-8 max-w-7xl mx-auto">
      <img src="theme/images/home/oracle.svg" alt="Oracle" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/pearl.png" alt="Pearl" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/schneider.svg" alt="Schneider Electric" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/topbuild.svg" alt="TopBuild" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/angi.svg" alt="Angi" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/buildertrend.png" alt="BuilderTrend" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/beam.svg" alt="Beam" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/houzz.svg" alt="Houzz" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/rewiring.png" alt="Rewiring America" class="max-w-[200px] max-h-12 justify-self-center">
      <img src="theme/images/home/paintjet.png" alt="PaintJet" class="max-w-[200px] max-h-12 justify-self-center">
    </div>
    <div class="mt-6 lg:mt-16 flex justify-center w-full lg:w-auto">
      <p class="relative rounded-full bg-gray-50 px-4 py-1.5 text-sm/6 text-gray-600 ring-1 ring-inset ring-gray-900/5">
        <a href="{{ SITEURL }}/blog/?category=Case%20Study" class="font-semibold text-shovels-primary"><span class="absolute inset-0" aria-hidden="true"></span> Read our case studies <span aria-hidden="true">&rarr;</span></a>
      </p>
    </div>
  </div>
</div>
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Clean and simple building permit data that’s easy to understand</h2>
        <p class="mt-4 text-lg/8 text-gray-300">Because you want to get insights from building permits, not wrangle with raw data.</p>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-300">Building permits in our database</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">160M+</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-300">Contractors in our database</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">3M+</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-300">US addresses covered</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">30M+</dd>
        </div>
        <div class="flex flex-col bg-white/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-300">New permits added monthly</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white">5M+</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <div class="col-span-2">
        <h2 class="text-base/7 font-semibold text-shovels-primary">How were different</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Our data is Shovel-ready</p>
        <p class="mt-6 text-base/7 text-gray-600">We make building permits easy to understand and use for market research, go-to-market, and sales. No data engineering required.</p>
      </div>
      <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-10 text-base/7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Fanatical customer service
          </dt>
          <dd class="mt-2">We're a small company with a big heart. We're here to help you succeed.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Constant innovation
          </dt>
          <dd class="mt-2">We ship fast. We ship often. We ship quality. We use the latest technology to make your life easier.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Transparency
          </dt>
          <dd class="mt-2">We're not afraid to show you exactly where our coverage gaps are. We're the only company that's fully transparent about our data.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Residents and employees
          </dt>
          <dd class="mt-2">We go beyond just the properties and contractors. We also include residents and employees with contact information.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Helpful documentation
          </dt>
          <dd class="mt-2">Our documentation is comprehensive and easy to understand. We keep our API documentation and data dictionary up to date.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            AI-powered from the start
          </dt>
          <dd class="mt-2">We run hundreds of millions of records through our AI to make sure our data is accurate.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Pricing for everyone
          </dt>
          <dd class="mt-2">We work with all budgets. Our customers range from climate and proptech startups to publicly-traded companies.</dd>
        </div>
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 size-5 text-shovels-primary" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
            </svg>
            Multiple interfaces
          </dt>
          <dd class="mt-2">We're more than just a data provider. We're both a data platform and a software company.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl">Work with us</h2>
      <p class="mt-6 text-lg/8 text-gray-300">We offer three interfaces to interact with our building permit and building contractor data.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="text-base/7 font-semibold text-white">
            <div class="mb-6 flex size-20 items-center justify-center rounded-lg">
              <img src="/theme/images/shovels-online.svg" alt="Shovels Online" class="size-20">
            </div>
            Shovels Online
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">Purchase single or multiple seats to explore and download our building permit and contractor data.</p>
            <p class="mt-6">
              <a href="{{ SITEURL }}/permit-database" class="text-sm/6 font-semibold text-shovels-secondary">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base/7 font-semibold text-white">
            <div class="mb-6 flex size-20 items-center justify-center rounded-lg">
              <img src="/theme/images/shovels-api.svg" alt="Shovels API" class="size-20">
            </div>
            Shovels API
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">Automate access and integrate with other applications like CRMs, custom web apps, and more.</p>
            <p class="mt-6">
              <a href="{{ SITEURL }}/api" class="text-sm/6 font-semibold text-shovels-secondary">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base/7 font-semibold text-white">
            <div class="mb-6 flex size-20 items-center justify-center rounded-lg">
              <img src="/theme/images/shovels-enterprise.svg" alt="Database Access" class="size-20">
            </div>
            Database Access
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base/7 text-gray-300">
            <p class="flex-auto">Get parquet files or private table shares into Snowflake, Databricks, or Big Query.</p>
            <p class="mt-6">
              <a href="{{ SITEURL }}/data-feed" class="text-sm/6 font-semibold text-shovels-secondary">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">From the blog</h2>
      <p class="mt-2 text-lg/8 text-gray-600">We write about building permits, contractors, and the future of construction.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {% for article in dates %}
        {% if loop.index <= 3 %}
          <article class="flex flex-col items-start justify-start">
            <div class="relative w-full">
              {% if article.image %}
                <img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              {% endif %}
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="max-w-xl">
              <div class="mt-8 flex items-center gap-x-4 text-xs">
                <time datetime="{{ article.date.strftime('%Y-%m-%d') }}" class="text-gray-500">{{ article.date.strftime('%b %d, %Y') }}</time>
                {% if article.category %}
                  <a href="{{ SITEURL }}/{{ article.category.url }}" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{ article.category }}</a>
                {% endif %}
              </div>
              <div class="group relative">
                <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                  <a href="{{ SITEURL }}/{{ article.url }}">
                    <span class="absolute inset-0"></span>
                    {{ article.title }}
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ article.summary }}</p>
              </div>
              {% if article.author %}
              <div class="relative mt-8 flex items-center gap-x-4">
                {% if article.author_image %}
                  <img src="{{ SITEURL }}/{{ article.author_image }}" alt="{{ article.author }}" class="size-10 rounded-full bg-gray-100">
                {% endif %}
                <div class="text-sm/6">
                  <p class="font-semibold text-gray-900">
                    <a href="{{ SITEURL }}/author/{{ article.author.url }}">
                      <span class="absolute inset-0"></span>
                      {{ article.author }}
                    </a>
                  </p>
                  {% if article.author_title %}
                    <p class="text-gray-600">{{ article.author_title }}</p>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}