{% extends "base.html" %}

{% block content %}

  <div class="grid grid-cols-2 p-4 lg:p-24 bg-stone-200">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h1 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">We use permit inspection data</span>
        <span class="block text-amber-600">to evaluate contractors</span>
      </h1>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <p class="text-2xl text-gray-500 leading-relaxed lg:text-4xl">We harvest and analyze millions of permit and inspection records nationwide for builders and the banks who finance them</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">The contractor discovery and evaluation process</span>
        <span class="block text-amber-600">is still broken</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <p class="text-2xl text-gray-500 leading-relaxed lg:text-4xl">That's why your neighbors have so many horror stories about construction jobs gone horribly wrong</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">California cities and counties process</span>
        <span class="block text-amber-600">500,000 building permits every year</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <p class="text-2xl text-gray-500 leading-relaxed lg:text-4xl">That's about 3 million inspections per year just in California, and inspection data holds critical insights</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">What happens to all this <span class="text-amber-600">permit and inspection data?</span></span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <p class="text-3xl text-gray-500 leading-relaxed lg:text-7xl font-extrabold">Nothing.</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800"><span class="font-bold font-marble" style="line-height: 0px !important;">Shovels</span> harvests and analyzes millions of permit and inspection records to <span class="text-amber-600">discover great contractors.</span></span>
      </h2>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl lg:text-5xl font-bold tracking-tight text-amber-800">Coder</h2>
      <img src="/theme/images/coder.svg" />
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl lg:text-5xl font-bold tracking-tight text-amber-800">Contractor</h2>
      <img src="/theme/images/contractor.svg" />
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">We produce new metrics</span>
        <span class="block text-amber-600">so builders can build and bankers can fund</span>
        <span class="block text-amber-800">better</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl lg:text-5xl font-bold tracking-tight text-amber-800">Contractor</h2>
      <img src="/theme/images/contractor2.svg" />
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <img src="/theme/images/yelp.svg" class="w-40 mb-1"/>
      <img src="/theme/images/pacific_remodel.png" class="text-center border-solid border-2 border-gray-400 drop-shadow-md mb-4"/>
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">4 stars</span>
        <span class="block text-amber-800">7 reviews</span>
        <span class="block text-gray-800">... that's it?</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="font-marble text-amber-900" style="line-height: 0px !important;">Shovels</span>
        <span class="block text-amber-800 mb-2 lg:mb-10">has new metrics</span>
      </h2>
      <div class="lg:grid lg:grid-cols-2">
        <div>
          <dl class="lg:divide-y text-lg lg:text-xl text-gray-500 align-top">
            <div class="py-2 lg:py-4 lg:grid lg:grid-cols-2">
              <dt class="">Inspection pass rate</dt>
              <dd class="font-bold">0.4</dd>
            </div>
            <div class="py-2 lg:py-4 lg:grid lg:grid-cols-2">
              <dt class="">Construction speed</dt>
              <dd class="font-bold">105 square feet per month</dd>
            </div>
            <div class="py-2 lg:py-4 lg:grid lg:grid-cols-2">
              <dt class="">Local job history</dt>
              <dd class="font-bold">3 single family additions</dd>
            </div>
          </dl>
        </div>
        <div class="hidden lg:block"><img src="/theme/images/contractor_solo.svg" /></div>
      </div>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">We are an API-first DaaS</span>
        <span class="block text-amber-600">that is built for data analysis</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <code class="flex-grow overflow-y-auto">
{"project_id": "BIMIR21-000008", "cap_id1": "21RES", "cap_id2": "00000", "cap_id3": "00008", "agency_code": "CCC"}<br/>
{"project_id": "BIMIR21-000008", "details": ["GENTEC SERVICES INC", "GENTEC SERVICES INC", "PO BOX 2654", "LIVERMORE, CA, 94551", "CONTRACTOR  783310"]}<br/>
{"project_id": "BIMIR21-000008", "description": "INSTALL KOHLER 20KW GENERATOR AND NEW 200A MANUAL TRANSFER SWITCH. GENERATOR WILL BE FED BY EXISTING 1.25\" DEDICATED NATURAL GAS LINE FROM METER.\r\n\r\n**7/1/2021 - REVISION TO SHOW APPROVED PVR  AND ESS ON PLANS. VSD**", "address": "400 TAHOS RD400 TAHOS RD", "project_type": "Building/Residential/MIR/Miscellaneous Residential", "status": "Finaled", "job_value": null, "enter_job_value": null, "parcel_number": "251192015", "housing_units": "1", "construction_type": "434-Additions, Alterations, and Conversions - Residential", "tra_city": "City of Orinda", "public_owned": "No", "number_of_buildings": "1", "total_sq_feet": null, "tax_rate_area": "18001"}
      </code>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">Cities are moving permit and inspection details online.</span>
        <span class="block text-amber-600">We're ready for it!</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24 justify-items-center">
      <img src="/theme/images/accela.webp" class="max-w-xs pb-8" />
      <img src="/theme/images/etrakit.gif" class="max-w-xs" />
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">We sell to banks and builders</span>
        <span class="block text-amber-600">who evaluate contractors.</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24 justify-items-center">
      <p class="text-2xl text-gray-500 leading-relaxed lg:text-4xl">Hiring and financing contractors is risky; we create value by reducing the risk of choosing a bad contractor.</p>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">Our revenue model is like ZoomInfo & G2:</span>
        <span class="block text-amber-600">free to a point and expensive for lists and exports.</span>
      </h2>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:grid-flow-row lg:gap-4">
      <div><img src="/theme/images/zoominfo.png" class="max-w-xs pb-8" /></div>
      <div><img src="/theme/images/g2.png" class="max-h-xs" style="max-height: 100px;" /></div>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">Other players don’t offer the breadth or depth we have because</span>
        <span class="block text-amber-600">they don’t mine inspections.</span>
      </h2>
    </div>
    <div class="lg:grid lg:grid-rows-2 lg:grid-flow-col lg:gap-4">
      <div><img src="/theme/images/buildzoom.png" class="max-w-xs pb-8" style="max-height: 120px;" /></div>
      <div><img src="/theme/images/angi.svg" class="max-h-xs pb-8" style="max-height: 120px;" /></div>
      <div><img src="/theme/images/thumbtack.png" class="max-h-xs pb-8" style="max-height: 120px;" /></div>
      <div><img src="/theme/images/corelogic.png" class="max-h-xs" style="max-height: 120px;" /></div>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-4 lg:p-24">
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">4 million contractors</span>
        <span class="block text-amber-600">serve the 80 million homes in the US</span>
      </h2>
    </div>
    <div class="mx-10 sm:mx-12 md:mx-24">
      <h2 class="text-4xl font-bold tracking-tight lg:text-7xl">
        <span class="block text-amber-800">We're gonna rank all of them</span>
      </h2>
    </div>
  </div>

  <div class="bg-repeat-x bg-tools h-10 text-stone-500 bg-stone-100">
  </div>

  <div class="grid grid-cols-2 p-24">
    <div class="">
      <div class="lg:grid lg:grid-cols-2" style="min-height: 432px;">
        <div class="max-auto">
          <img class="h-40 w-40 rounded-full lg:h-24 lg:w-24" src="/theme/images/ryan.jpeg" alt="">
          <div class="space-y-4 mt-4">
            <div class="text-lg text-amber-800 sm:text-lg md:text-3xl">
              <h3>Ryan Buckley</h3>
              <p class="text-amber-600">Co-Founder / CEO</p>
            </div>
          </div>
        </div>
        <div>
          <p class="text-lg text-gray-500 sm:text-lg md:text-3xl pr-10">Ryan was CEO of MightySignal, a B2B mobile SDK intelligence company. He also co-founded Scripted, backed by Redpoint, Storm, and Crosslink. Ryan holds Bachelor degrees from UC Berkeley and a MPP from the Harvard Kennedy School and an MBA from MIT Sloan.</p>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-10">
        <div><img src="/theme/images/mightysignal.webp" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/xenon.png" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/cal.png" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/mit.png" class="h-14 mx-auto" /></div>
      </div>
    </div>
    <div class="">
      <div class="lg:grid lg:grid-cols-2" style="min-height: 432px;">
        <div class="mx-auto">
          <img class="h-40 w-40 rounded-full lg:h-24 lg:w-24" src="/theme/images/luka.jpeg" alt="">
          <div class="space-y-4 mt-4">
            <div class="text-lg text-amber-800 sm:text-lg md:text-3xl">
              <h3>Luka Kacil</h3>
              <p class="text-amber-600">Co-Founder / CTO</p>
            </div>
          </div>
        </div>
        <div>
          <p class="text-lg text-gray-500 sm:text-lg md:text-3xl pr-10">Luka was COO and ran all engineering operations for AppMonsta, which scraped the entire Google Play and Apple App Stores daily. He is currently in the Executive MBA program at Quantic School of Business and Technology.</p>
        </div>
      </div> 
      <div class="grid grid-cols-4 gap-4 mt-10">
        <div><img src="/theme/images/appmonsta.png" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/xenon.png" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/quantic.png" class="h-14 mx-auto" /></div>
        <div><img src="/theme/images/ljubljana.png" class="h-14 mx-auto" /></div>
      </div>
    </div>
  </div>

{% endblock content %}
